nav {
  background-color: $secondary-color;
  box-shadow: 0 0 30px #111;
  color: $primary-color;
  padding: 10px 20% 60px;
  z-index: 1;

  h1 a {
    color: $primary-color;
    float: left;
    text-decoration: none;
  }

  a:hover {
    color: $white;
    font-style: italic;    
  }

  ul {
    display: inline-block;   
    float: right;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 20px 0 1px;
      padding: 5px;  
    }

    a:hover {
      color: $white;
      font-style: italic;      
    }

    a { 

      color: $primary-color;
      text-decoration: none;
    }
  }
}

.selected {
  color: $white;
}
