
.main-content { 
  margin: 0 auto -100px; 
  min-height: 100%;  
  padding: 0 20%;  
  width: 100%; 
}

.pic-wrapper {
  background-color: none;
  color: #004c4c;
  float: left;
  padding: 1% 0;  

  img {
    background: #a4a4a4;
    border: 10px double #0b173b;    
    border-radius: 100%;
    display: inline-block;
    height: 350px;
    margin-bottom: 20px;
    width: 350px;   
    }
}

.list-wrapper {
  float: right;
  margin-top: 40px;
  width: 50%;

  p, 
  td {
    border-bottom: 2px dotted $white;
    color: $white;
    font-weight: bold;
    padding: 20px 0 5px;            
    text-transform: capitalize;    
  }

  li {
    color: $white;
    font-size: 18px;
    list-style: none;
  }

  a {
    text-transform: none;
  }

  table {
    width: 100%;
  }

}

.summary {
  p, 
  h2 {
    color: $white;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}
